@media (min-width: 992px) {
  :root {
    --title-header-font-size: 4.8rem;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    grid-template-rows: auto;

    &__header {
      grid-column: 1/4;
      grid-row: 1/2;
    }

    &__separator {
      grid-row: 2/7;
      grid-column: 2/3;
      margin: 0 auto;

      display: inline-block;
      height: 100%;
      width: 2px;
      background-color: $blue-munsell;
    }

    &__card {
      flex-basis: unset;
      grid-area: span 2 / span 1;
      &--left {
        grid-column: 1/2;
      }
      &--right {
        grid-column: 3/4;
        margin-top: 15%;
      }
    }
  }
}

@media (min-width: 1200px) {
  :root {
    --title-header-font-size: 6.4rem;
  }

  // .services {
  //   &__card {
  //     flex-basis: 28%;
  //     &--left {
  //       margin: 2em;
  //     }
  //     &--right {
  //       margin: 2em;
  //     }
  //   }
  // }
}
