@mixin flex-ccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-csc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-ccs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
