@media (min-width: 400px) {
  :root {
    --header-font-size: 3.2rem;
  }

  .header {
    &__burger-bar {
      height: 6px;
    }
  }

  .title {
    &__header {
      font-size: 3.6rem;
    }
    &__span--small {
      font-size: 2.7rem;
    }
  }
}

@media only screen and (min-width: 400px) and (orientation: landscape) {
  .title {
    &__header {
      font-size: 3.2rem;
    }
    &__span--small {
      font-size: 2.4rem;
    }
  }
}

@media (min-width: 576px) {
  .header {
    &__menu {
      display: flex;
    }
    &__burger {
      display: none;
    }
  }
}
