@import "./colors";
@import "./mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --nav-font-size: 2.8rem;
  --title-header-font-size: 3.2rem;
  --section-header-font-size: 3.2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  //background-color: $raisin-black;
  background-color: black;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: calc(2 * var(--nav-font-size));
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.slick-dots {
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  li {
    list-style: none;
    button {
      height: 1em;
      width: 1em;
      margin: 0.5em;
      border-radius: 50%;
      background-color: $blue-munsell;
      color: $blue-munsell;
      border: 1px solid transparent;
    }
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-color: $light-gray;

  border-bottom: 2px solid $firebrick;

  // &__logo {
  //   text-decoration: none;
  // }

  &__burger,
  &__title {
    font-size: var(--nav-font-size);
    padding: 0.5em;
  }

  &__title {
    text-transform: uppercase;
    color: $firebrick;
  }

  &__menu {
    display: none;
    flex-direction: row;
  }

  &__item {
    padding: 1.6em 0.5em;
    //text-decoration: none;
    color: $raisin-black;

    &--contrast {
      color: $snow;
      background-color: $firebrick;
    }
  }

  &__burger {
    border: 1px solid transparent;
    cursor: pointer;
    background: none;

    &:focus {
      outline: none;
      //do something on focus
    }

    &:hover {
      .header__burger-bar {
        width: 100%;
      }
    }
  }

  &__burger-box {
    position: relative;
    width: 1.5em;
    height: 1em;
  }

  &__burger-bar {
    position: absolute;
    right: 0;
    transition: width 0.3s, background-color 0.3s;
    background-color: $firebrick;
    height: 5px;
    transform: translateY(-50%);
    // &--active {
    //   background-color: white;
    // }

    &:nth-of-type(1) {
      width: 100%;
    }

    &:nth-of-type(2) {
      width: 60%;
      top: 50%;
    }

    &:nth-of-type(3) {
      top: 100%;
      width: 30%;
      transition-delay: 0.1;
    }
  }
}

.mobile {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: scroll;

  background-color: $light-gray;

  @include flex-csc;

  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.36, 1);

  &--active {
    transform: translateX(0);
  }

  &__item {
    font-size: 3.2rem;
    padding: 1em;
    width: 100%;
    display: block;
    //text-decoration: none;
    color: $raisin-black;
    border-bottom: 1px solid $blue-munsell;
    text-align: center;
    // &:last-of-type {
    //   border-bottom: 1px solid $blue-munsell;
    // }
  }
}

//title section of main page

.title {
  position: relative;
  height: calc(100vh - 2 * var(--nav-font-size));

  color: $snow;

  &__header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    padding: 0.5em 1em;

    @include flex-ccs;
    flex-wrap: wrap;
    font-size: var(--title-header-font-size);
  }

  &__span--small {
    font-size: calc(0.75 * var(--title-header-font-size));
    font-weight: 400;
  }

  &__image {
    width: 100%;
    height: 100%;

    //change to locally hosted images outside of github
    background-image: url("https://cdn.pixabay.com/photo/2016/11/30/20/44/computer-1873831_1280.png");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    z-index: 0;

    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      content: "";
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &__arrow {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    color: $snow;
    font-size: 2.8rem;
  }
}

.about-us {
  color: $light-gray;
  background-color: $raisin-black;

  &__header {
    padding: 0.5em 1em;
    font-size: var(--section-header-font-size);
    text-align: center;
  }

  &__text {
    padding: 1em 2em;
  }
}

.portfolio {
  //margin-top: 2em;
  background-color: $light-gray;
  color: $raisin-black;

  @include flex-ccc;

  &__header {
    padding: 0.5em 1em;
    font-size: var(--section-header-font-size);
  }

  &__separator {
    display: none;
  }

  &__empty {
    display: none;
  }

  &__card {
    max-width: 400px;
    margin: 20px;
    border: 1px solid $blue-munsell;
    border-radius: 8px;
    @include flex-ccc;
    &--left {
      align-self: flex-start;
    }
    &--right {
      align-self: flex-end;
    }
  }

  &__card-title {
    margin-top: 0.5em;
    padding: 0.5em;
    font-weight: 400;
  }
  &__card-img {
    padding: 0.5em 1em;
    width: 100%;
  }
  &__card-link {
    color: $firebrick;
    padding: 0.5em 1em;
  }
  &__card-text {
    padding: 0.5em 1em;
    margin-bottom: 1em;
  }
}

.services {
  background-color: $raisin-black;
  padding-bottom: 4em;

  &__header {
    padding: 0.5em 1em;
    font-size: var(--section-header-font-size);
    color: $snow;
  }

  &__carousel {
    max-width: 100%;
    height: 25em;
    padding: 0 2em;
    position: relative;
  }

  &__carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    padding: 0.5em;
    color: $blue-munsell;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid transparent;
    //border-radius: 8px;
    cursor: pointer;
    z-index: 1;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }

  // &__carousel-dot-controls {
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   transform: translateX(-50%);

  //   display: flex;
  // }
  // &__dot {
  //   padding: 0.5em;
  //   margin: 0.5em 0.2em;

  //   background-color: $blue-munsell;
  //   border-radius: 50%;
  //   cursor: pointer;
  //   z-index: 1;
  //   &--current {
  //     background-color: $firebrick;
  //   }
  // }

  &__card {
    min-height: 25em;
    width: 100%;
    margin: 0.5em;
    border: 2px solid $blue-munsell;
    border-radius: 8px;
    background-color: $light-gray;
    @include flex-csc;
    cursor: pointer;

    &--left {
      align-self: flex-start;
    }
    &--right {
      align-self: flex-end;
    }
  }

  &__img {
    padding: 0.5em 1em;
    margin-top: 0.5em;
    object-fit: cover;
    width: 100%;
    height: 10em;
  }

  &__title,
  &__text,
  &__link {
    color: $raisin-black;
    padding: 0.5em 1em;
  }

  &__text--highlight {
    margin-top: 2em;
    color: $firebrick;
    font-weight: 700;
  }
}

.footer {
  background-color: $light-gray;
  color: $raisin-black;

  &__bottom {
    @include flex-ccc;
  }
  &__list {
    order: -1;

    @include flex-ccc;
  }
  &__link {
    display: inline-block;
    padding: 0.25em 0.5em;
    color: $raisin-black;
    cursor: default;

    position: relative;
    @include dynamic-underline(2px, $blue-munsell);
  }
  &__copyright {
    padding: 0.5em 1em;
  }
}

@import "./small";
@import "./medium";
@import "./large.scss";
